n8n_rss_summary_to_slack.json
{
  "name": "Daily RSS Summary to Slack",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyDay",
            "hour": 8,
            "minute": 0
          },
          {
            "mode": "everyDay",
            "hour": 22,
            "minute": 0
          }
        ]
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://blog.jetbrains.com/feed/",
        "options": {
          "property": "items",
          "limit": 5
        }
      },
      "name": "RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "\nreturn items.map(item => {\n  const title = item.json.title;\n  const link = item.json.link;\n  const content = item.json.contentSnippet || item.json.content || '';\n  return {\n    json: {\n      prompt: `\ub2e4\uc74c\uc740 \ube14\ub85c\uadf8 \uae30\uc0ac\uc785\ub2c8\ub2e4. \uc81c\ubaa9: ${title}\\n\ub0b4\uc6a9: ${content}\\n\uc704 \ub0b4\uc6a9\uc744 \ud55c\uad6d\uc5b4\ub85c \uc790\uc5f0\uc2a4\ub7fd\uac8c 3~4\uc904\ub85c \uc694\uc57d\ud574\uc918. \ud575\uc2ec\uc744 \uac04\ub2e8\ud788 \uc815\ub9ac\ud574\uc918.`,\n      link,\n      title\n    }\n  };\n});\n"
      },
      "name": "Make Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4",
        "prompt": "={{$json[\"prompt\"]}}"
      },
      "name": "GPT-4 Summary",
      "type": "n8n-nodes-base.openai",
      "typeVersion": 1,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://hooks.slack.com/services/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",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n\"text\": \"*{{$json[\"title\"]}}*\n{{$json[\"text\"]}}\n<{{$json[\"link\"]}}|\uc6d0\ubb38 \ubcf4\uae30>\"\n}"
      },
      "name": "Send to Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Cron": [
      {
        "node": "RSS Feed",
        "type": "main",
        "index": 0
      }
    ],
    "RSS Feed": [
      {
        "node": "Make Prompt",
        "type": "main",
        "index": 0
      }
    ],
    "Make Prompt": [
      {
        "node": "GPT-4 Summary",
        "type": "main",
        "index": 0
      }
    ],
    "GPT-4 Summary": [
      {
        "node": "Send to Slack",
        "type": "main",
        "index": 0
      }
    ]
  },
  "active": false,
  "settings": {},
  "id": 1,
  "versionId": "1749307169.744606"
}